{% set banner_url =  content.field_image['#items']|file_url %}
{% set field_date = content.date.0 %}
<!-- Page Header-->
<header class="masthead bg-dark" style="background-image: url({{banner_url}})">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{label}}</h1>
          <h2 class="subheading">{{content.field_summary}}</h2>
          <span class="meta" >
            Posted by {{ author_name }} on {{ field_date|date("F j, Y") }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content-->
<article class="mb-4 not-overflow-text" style="font-size: 1.125rem !important;">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 not-overflow-text">
        {{ content.body|raw }}

      </div>
    </div>
  </div>
</article>
<div class="container bootstrap snippets bootdey">
  <div class="row">
		<div class="col-md-12">
		  <div class="blog-comment">
				<h3 class="text-success">Comments</h3>
        <hr/>
        <div id="comments" class="{{ layout }} mt-3">
            {{ content.field_comments.0.comment_form }}
				  <ul class="comments">
            {{ content.field_comments.0.comments }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
