{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{% set field_date = content.date.0 %}

<div class="container position-relative px-4 px-lg-5 article-preview">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% if display_submitted %}
        {% if label and not page %}
          <div class="post-preview">
            <a href="{{ url }}">
              <h2 class="post-title">{{ label }}</h2>
              <h3 class="post-subtitle fs-5 m-2">{{ content.field_summary|raw }}</h3>
            </a>
            {# render tags #}
            {% if content.field_tags|render %}
              <div class="post-tags m-1 d-flex flex-wrap">
                {% for tag in content.field_tags %}
                  <a href="{{ tag['#url'] }}" class="badge bg-secondary rounded-2 text-decoration-none text-white m-1">{{ tag['#title'] }}</a>
                {% endfor %}
              </div>
            {% endif %}
            {# render author #}
            <p class="post-meta">Posted by
              <a href="#">{{ author_name }}</a>
              on {{ field_date|date("F j, Y") }}</p>
          </div>
          <hr class="my-4 post-line"/>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
